<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:insert="~{home::libraries}"></div>

</head>
<body>

<div th:replace="~{home::navbar-start}"></div>
<div class="container">
    <p style="text-align: center"><i style="font-size: 460%;color: lawngreen" class="fa-regular fa-circle-check"></i></p>
<h1 style=" text-align: center">Thanh toán thành công</h1>
    <div class="container" style="width: 34%">
<p>Mã giao dịch thanh toán: <span th:text="${txnRef}"></span></p>
<p>Số tiền: <span th:text="${#numbers.formatInteger(amount,3,'POINT')}"></span></p>
<p>Mô tả giao dịch: <span th:text="${info}"></span></p>
<p>Mã ngân hàng thanh toán: <span th:text="${bankCode}"></span></p>
<p>Thời gian thanh toán: <span th:text="${date}"></span></p>
    </div>
<a style="margin-left: 512px" class="btn btn-primary" th:href="@{/}">Xác nhận</a>
</div>

<div th:replace="~{home::footer-start}"></div>
<div th:replace="~{home::back-to-top}"></div>
<div th:replace="~{home::footer}"></div>

</body>
</html>