<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <div th:insert="~{home::libraries}"></div>
    <style>
        .slider-container {
            margin-bottom: 20px;
        }

        label {
            display: block;
        }

        .customer-rank {
            margin-left: 15px;
            border: black;
            border-radius: 28px;
            background-color: black;
            padding: 6px 14px;
            color: white;
            position: relative;
            top: 6px;
        }
    </style>

</head>
<body>
<div th:replace="~{home::navbar-start}"></div>


<div class="container" style="min-height: 800px">
    <div class="row col-md-12 col-lg-12">
        <h4><i style="margin-right: 11px;position: relative;bottom: 2px;" class="fa-solid fa-user"></i>Tài Khoản Của Bạn</h4>
    </div>
    <div class="row col-md-12 col-lg-12 mt-4 ">
        <div class="col-md-3 col-lg-3">
            <div class="container" style="border: 1px solid gray;min-width: 250px">
                <div style="height: 80px" class="d-flex">
                    <div><span style="margin-left: 10px;
                                    padding-bottom: 30px; padding-top: 30px"
                               class="d-flex align-self-center"><b
                            style="color: black;font-size: 20px" th:text="${customer_name}"></b></span></div>
                    <div class="d-flex"><small class="d-flex align-self-center"><b
                            class="customer-rank" th:text="${type}"></b></small>
                    </div>
                </div>

                <div class="mb-3 mx-3"><a style="border-top: black solid 1px; padding-top: 10px"
                                          class="breadcrumb-item text-dark " th:href="@{/account}"><b>Thông tin tài
                    khoản</b></a>
                </div>
                <div class="mb-3 mx-3"><a class="breadcrumb-item text-dark " th:href="@{order/history}">Lịch sử mua
                    hàng</a></div>
                <div class="mb-3 mx-3"><a class="breadcrumb-item text-dark " th:href="@{/account/change-pass}">Đổi mật khẩu</a></div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="mb-3 mx-3"><a
                        class="breadcrumb-item text-dark " th:href="@{/order/list}">Quản lý đơn hàng</a></div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="mb-3 mx-3"><a
                        class="breadcrumb-item text-dark " th:href="@{/customer/list}">Quản lý khách hàng</a></div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="mb-3 mx-3"><a
                        class="breadcrumb-item text-dark " th:href="@{/product/list}">Quản lý sản phẩm</a></div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')" class="mb-3 mx-3"><a
                        style="border-bottom: black solid 1px; padding-bottom: 10px"
                        class="breadcrumb-item text-dark " th:href="@{/employee/list}">Quản lý nhân viên</a></div>
                <div class="mb-3 mx-3" style="position: relative"><a class="breadcrumb-item text-dark "
                                                                     th:href="@{/logout}">Đăng xuất <i
                        style="position: relative;top: 4px;margin-left: 5px"
                        class="fa-solid fa-right-from-bracket"></i></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="ml-5" style="border-bottom: 1px solid black;">
                <h5><b>Thông tin tài khoản</b></h5>
                <small>Bạn có thể cập nhật thông tin cá nhân của bản thân tại đây</small>
            </div>
            <div class="ml-5">
                <form th:action="@{/customer/save}" th:object="${customerDto}" method="post">
                    <div class="mt-4">
                        <p>Tên<small style="color: red;"> *</small></p>
                        <input th:field="*{name}" class="ml-5 form-control" style="width: 250px;" type="text">
                        <p class="ml-5"><small style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small></p>
                    </div>
                    <div class="mt-4">
                        <p>Email<small style="color: red;"> *</small></p>
                        <input th:field="*{email}" class="ml-5 form-control" style="width: 250px;" type="text" readonly>
                    </div>
                    <div class="mt-4">
                        <p>Số điện thoại<small style="color: red;"> *</small></p>
                        <input th:field="*{phone_number}" class="ml-5 form-control" style="width: 250px;" type="text">
                        <p class="ml-5"><small style="color: red;" th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}"></small></p>
                    </div>
                    <div class="mt-4">
                        <p>Địa chỉ</p>
                        <textarea th:field="*{address}" class="ml-5 form-control" style="width: 410px;height: 60px"
                                  type="text"></textarea>
                        <p class="ml-5"><small style="color: red;"></small></p>
                    </div>
                    <div class="mt-4">
                        <p>Giới tính </p>
                        <div class="d-flex">
                            <label class="ml-5">
                                <input th:field="*{gender}" th:value="true" type="radio" name="gender" value="male">
                                Nam
                            </label>
                            <label class="ml-5">
                                <input th:field="*{gender}" th:value="false" type="radio" name="gender" value="female">
                                Nữ
                            </label>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p>Ngày sinh</p>
                        <input th:field="*{dob}" class="ml-5" type="date">
                    </div>
                    <input th:field="*{id}" type="hidden">
                    <input th:field="*{account}" type="hidden">
                    <input th:field="*{customerType}" type="hidden">
                    <button type="submit"
                            style="margin-left:50px; margin-top: 50px;width: 280px;height: 50px; padding: 10px;font-size: 14px; border: 1px solid  black">
                        <b>Cập Nhật Thông Tin</b>
                    </button>
                </form>
            </div>
        </div>
        <div class=" col-md-3 col-lg-3">
            <div><h5 style="text-align: center;"><b>Sản Phẩm Bán Chạy Nhất</b></h5></div>
            <div class=" col-lg-4 col-md-4 col-sm-4 mt-5">
                <div class="product-item bg-light mb-4">
                    <div class="product-img mb-5">
                        <img style="width: 300px;height: auto" src="/main/img/product-6.jpg" alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</div>


<script>

</script>


<div th:replace="~{home::footer-start}"></div>
<div th:replace="~{home::back-to-top}"></div>
<div th:replace="~{home::footer}"></div>


</body>
</html>