<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="was-validated" th:object="${customer}" th:action="@{/customer/create}" method="post">
            <div class="d-flex justify-content-center">
                <h1>Đăng ký khách hàng</h1>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Tên khách hàng</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" th:field="*{name}">
                <small style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2" >Ngày sinh</span>
                <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" th:field="*{dob}">
                <small style="color: red" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></small>

            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Địa chỉ khách hàng</span>
                <textarea class="form-control" aria-label="With textarea" th:field="*{address}"></textarea>
                <small style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>

            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Số điện thoại</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" th:field="*{phone_number}">
                <small style="color: red" th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}"></small>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Giới tính</label>
                <select class="form-select" id="inputGroupSelect01" th:field="*{gender}">
                    <option th:value="true">Nam</option>
                    <option th:value="false">Nữ</option>
                </select>
            </div>
            <label for="basic-url" class="form-label">Địa chỉ email</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">A-zVvvv...@gmail.com</span>
                <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3" th:field="*{email}">
                <small style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
            <div class="input-group">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>

</body>
</html>