<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

    <style>
        .table th, .table tbody td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body >
<header>
    <div th:insert="~{home::libraries}"></div>
    <div th:replace="~{home::navbar-start}"></div>
</header>
<div class="col-12 mx-auto" style="width: 100%">
    <div class="mx-auto " style="width: 100%; margin: 2%">
        <header class=" d-flex justify-content-center px-xl-5 ">
        <h2 STYLE="margin-top: 0.5rem">DANH SÁCH KHÁCH HÀNG</h2>
        </header>

        <form class="mx-auto" style="width: 90%;margin-top: 2%" th:action="@{/customer/list}" method="get" >
            <div class="d-flex container-fluid justify-content-end" style="width: 100%">
                <div class="d-flex ">
                    <input   type="search" placeholder="Tìm kiếm khách hàng" aria-label="Search"
                             name="searchName" th:value="${searchName}">
                    <button class="btn btn-outline-warning border-dark" type="submit">
                        <i class="fa-solid fa-magnifying-glass " style="color: #0a0a0a;"></i></button>
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-warning border-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        <i class="fa-solid fa-bars fa-beat-fade" style="color: #050505;"></i></button>
                </div>
            </div>
            <div class="collapse bg-light" id="collapseExample" >
                <div class=" card-body border-light bg-light">
                    <div class="row mx-auto d-flex justify-content-center " style="width: 80%">
                        <div class="h-50 text-uppercase">LOẠI KHÁCH HÀNG</div>
                        <div class="col-lg-2 col-md-4 col-sm-6 pb-1 d-flex" th:each="c: ${customer_type}"
                             style="margin-right: 2%">

                            <input class="mx-md-3" id="customerType" name="customerType" type="checkbox"
                                   th:value="${c.id}">
                            <label for="customerType" th:text="${c.name}"></label>

                        </div>

                    </div>

                </div>
            </div>

        </form>
        <div class="d-flex  p-3" style="min-height: 26rem">
            <table class="table table-light table-striped table-hover " >
                <thead>
                <tr>
                    <th class="h-50 text-uppercase " >STT</th>
                    <th class="h-50 text-uppercase ">HỌ VÀ TÊN</th>
                    <th class="h-50 text-uppercase ">SỐ ĐIỆN THOẠI</th>
                    <th class="h-50 text-uppercase">GIỚI TÍNH</th>
                    <th class="h-50 text-uppercase" >Bậc</th>
                    <th class="h-50 text-uppercase " colspan="2">Chức năng</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr class="table-active" th:each="customer,status: ${customerPage}">
                    <td th:text="${customerPage.number*5+status.count}" ></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.phone_number}"></td>
                    <td th:if="${customer.gender}" th:text="Nam"></td>
                    <td th:if="${!(customer.gender)}" th:text="Nữ" ></td>
                    <td th:text="${customer.customerType.name}"></td>
                    <td align="center">
                        <button th:attr="onclick=|showDetail(${customer.getId()})|"
                                type="button"
                                class="btn btn-outline-primary border border-dark" data-bs-toggle="modal"
                                data-bs-target="#modalDetail">

                            <i class="fas fa-info" style="color: #02060d;"></i>
                        </button>

                    </td>
                    <td>
                        <a th:href="@{/customer/showUpdate/{id}(id=${customer.getId()})}">
                            <button class="btn btn-outline-primary border-dark">
                                <i class="far fa-edit" style="color: #02060d;"></i>
                            </button>
                        </a>
                    </td>

                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <p>Trang hiện tại <span th:text="${customerPage.number +1}"></span> / <span th:text="${customerPage.totalPages}"></span></p>
                    </td>
                </tr>
                </tfoot>
            </table>


        </div>

    </div>

</div>

<div>
    <div style="text-align: center">
        <a class="btn btn-outline-success" style="color: black" th:if="${customerPage.hasPrevious()}" th:href="@{/customer/list(page=${customerPage.number -1},searchName=${searchName},customerType=${customerType})}">Trước</a>
        <span class="btn-outline-success" th:text="${customerPage.number + 1}"></span>/<span class="btn-outline-success" th:text="${customerPage.totalPages}"></span>
        <a class="btn btn-outline-success" style="color: black" th:if="${customerPage.hasNext()}" th:href="@{/customer/list(page=${customerPage.number+1},searchName=${searchName},customerType=${customerType})}">Sau</a>
    </div>
</div>


<!--    footer-->
<footer>
    <div th:replace="~{home::footer-start}"></div>
    <div th:replace="~{home::back-to-top}"></div>
    <div th:replace="~{home::footer}"></div>
</footer>
<!--    ----->

<!--Message -->
<div th:if="${msg}">
    <span id="message" th:text="${msg}"></span>
</div>
<script>
    let message = document.getElementById("message").innerText;
    console.log(message);

    function showMessage() {
        if (message != null) {
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 2500
            })
        }
    }

    document.addEventListener("DOMContentLoaded", showMessage());


</script>


<!--Modal Delete-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form th:action="@{/customer/delete}" method="post">

                <div class="modal-header " style="background-color: #FFD333">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Bạn muốn xóa </h1>
                    <button type="button" class="btn  border border-dark" data-bs-dismiss="modal"
                            aria-label="Close" style="margin-left: 0.5rem;background-color: #FFD333">X
                    </button>
                </div>
                <div class="modal-body">
                    <input id="deleteId" name="deleteId" type="hidden">
                    <span>Khách hàng tên: </span>
                    <span id="deleteName" name="deleteName" ></span>
                    <div>
                        <small style="color:red;">Lưu ý thao tác sẽ không được hoàn tác</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning border-dark" data-bs-dismiss="modal"><i
                            class="fa-solid fa-arrow-left fa-beat" style="color: #0d0d0d;"></i></button>
                    <button type="submit" class="btn btn-outline-warning border-dark">
                        <i class="fa-solid fa-check fa-beat-fade" style="color: #1c1c1c;"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Delete-->
</div>
<!--Modal-Detail-->
<div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="content">
            </form>
        </div>
    </div>
</div>
<!--Hidden url-->
<script>
    const currentUrl = window.location.href;
    const cleanUrl = currentUrl.split('?')[0];
    history.replaceState(null, null, cleanUrl);
</script>
<!--Detail-->
<script th:src="@{/jquery-3.7.0.min.js}"></script>
<script th:inline="javascript">

    function showDetail(id) {
        $.ajax({
            contentType: "application/json",
            method: "GET",
            dataType: "json",
            url: `http://localhost:8080/api/customers/detail/` + id,
            success: function (data) {
                console.log(data)
                let content = `
 <div class="modal-header bg bg-warning">
                    <h1 class="modal-title fs-5" id="modalDetailLabel" style="color: #02060d">${data.name}</h1>
                     <button type="button" class="btn btn-warning border border-dark"data-bs-dismiss="modal">
X</button>
                </div>
                <div class="modal-body">
                <input type="hidden" id="idDelete" value="${data.id}">
                <input type="hidden" id="nameDelete" value="${data.name}">
                   <div>
                   <h5>Ngày sinh: </h5>
                    <span>${data.dob}</span>
</div>
                    <div>
                      <h5>Email: </h5>
                      <span>${data.email}</span>
</div>
<div>
<h5>Giới tính</h5>
`;
                if (data.gender) {
                    content += `<span>Nam</span>`;
                } else {
                    content += `<span>Nữ</span>`;
                }

                content += `
</div>
                  <div>
                  <h5>Địa chỉ: </h5>
                    <span>${data.address}</span>
</div>
                    <div>
                     <h5>Điện thoại: </h5>
                    <span>${data.phone_number}</span>
</div>
                   <div>
                   <h5>Loại khách hàng: </h5>
                    <span>${data.customerType.name}</span>
</div>
                </div>
                <div class="modal-footer">
                     <button
                      onclick="showInfoDelete()"
                                    type="button"
                                    class="btn btn-light border border-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                <i class="fas fa-trash-alt " style="color: #02060d;"></i>

                            </button>
                </div>`;

                $(`#content`).html(content);
            }
        })
    }

    function showInfoDelete() {
        let id=document.getElementById("idDelete").value;
        let name=document.getElementById("nameDelete").value;
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
    function showDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
    // ---Footer----

</script>
</body>
</html>