<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">


</head>
<body>
<header>
</header>
<div class="row ">
    <div class="col-3">
        <!-- As a link -->
        <nav class="navbar sticky-bottom" style="margin-top: 10%">
            <div class="container-fluid">
                <button class="navbar-toggler border border-light" id="hide" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span>Danh mục quản lý</span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <a class="text-muted" th:href="@{/employee/list}" style="text-decoration: none;">QUẢN LÝ NHÂN VIÊN</a>
                    </div>
                    <div class="p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <a class="text-muted" th:href="@{/customer/list}" id="customer" style="text-decoration: none;">QUẢN LÝ KHÁCH HÀNG</a>
                    </div>
                    <div class="p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <a class="text-muted" th:href="@{/product/list}" id="product" style="text-decoration: none;">QUẢN LÝ SẢN PHẨM</a>
                    </div>
                </div>
            </div>
        </nav>
<script  th:src="@{/jquery-3.7.0.min.js}">
    $(document).ready(function () {
        $(`#hide`).click(function () {
            $(`#customer`).hidden;
        });
    });
</script>
    </div>
    <div class="col-9">
        <div class="mx-auto shadow-lg mb-5 bg-body rounded" style="width: 90%; margin: 7%">
            <header class=" d-flex justify-content-center bg bg-warning " style=" color: black">

                   <h1 style="font-family: 'Dancing Script', cursive;margin-top: 0.5rem" >DANH SÁCH KHÁCH HÀNG</h1>
               </header>
            <div class="d-flex justify-content-center p-3">
                <nav class="navbar bg-light ">
                    <div class="container-fluid">
                        <form class="d-flex " role="search" th:action="@{/customer/list}" method="get">
                            <input class="form-control " type="search" placeholder="Search" aria-label="Search"
                                   name="searchName">
                            <select class="form-select " id="inputGroupSelect01" name="customerTypeId" style="width: 20%">
                                <option th:each="type: ${customer_type}" th:value="${type.name}" th:text="${type.name}"></option>
                                <option th:value="0">Tất cả</option>
                            </select>
                            <button class="btn btn-outline-warning" type="submit">
                                <i class="fas fa-search" style="color: #121212;"></i></button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="d-flex justify-content-center p-3">
                <table class="table table-light table-striped ">
                    <thead>
                    <tr style="text-align: center">
                        <th>STT</th>
                        <th>Tên KH</th>
                        <th>GT</th>
                        <th>Bậc</th>
                        <th colspan="3">Chức năng</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider" style="text-align: center">
                    <tr class="table-active" th:each="customer,status: ${customerPage}">
                        <td th:text="${customerPage.number*5+status.count}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:if="${customer.gender}" th:text="Nam"></td>
                        <td th:if="${!(customer.gender)}" th:text="Nữ"></td>
                        <td th:text="${customer.customerType.name}"></td>
                        <td>
                            <a th:href="@{/customer/showUpdate/{id}(id=${customer.getId()})}">
                                <button class="btn btn-light border-warning">
                                    <i class="far fa-edit" style="color: #e0ee11;"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <button th:attr="onclick=|showDetail(${customer.getId()})|"
                                    type="button"
                                    class="btn btn-light border border-warning" data-bs-toggle="modal"
                                    data-bs-target="#modalDetail">
                                <i class="fas fa-info "></i>
                            </button>
                        </td>
                        <td>
                            <button th:attr="onclick=|showDelete(${customer.getId()},'${customer.getName()}')|"
                                    type="button"
                                    class="btn btn-light border border-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                <i class="fas fa-trash-alt " style="color: #02060d;"></i>

                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <!--        Page table-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:if="${customerPage.hasPrevious()}"
                           th:href="@{/customer/list(page=${customerPage.number - 1},searchName=${searchName})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a th:if="${customerPage.hasNext()}"
                           th:href="@{/customer/list(page=${customerPage.number + 1},searchName=${searchName})}"
                           class="page-link" aria-label="Next">
                            <span aria-hidden="true">next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>
<a th:href="@{/customer/showCreate}">
    <button>aa</button>
</a>


<!--Message ajax-->
<div th:if="${msg}">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning">
                <img src="https://antimatter.vn/wp-content/uploads/2022/04/meme-gau-truc-hoi-cham.jpg"
                     style="width: 7%;height: 7%" alt="...">
                <strong class="me-auto">Message</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <h5 th:text="${msg}"></h5>
            </div>
        </div>
    </div>


    <!--    Message-->
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelectorAll('.toast')[0];
            if (myAlert) {
                let bsAlert = new bootstrap.Toast(myAlert);
                bsAlert.show();
            }
        };

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</div>


<!--Modal Delete-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form th:action="@{/customer/delete}" method="post">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Bạn chắc chắn muốn xóa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteId" name="deleteId" type="hidden">
                    <span>Khách hàng tên </span>
                    <span id="deleteName" name="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Suy nghĩ lại</button>
                    <button type="submit" class="btn btn-primary">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Delete-->
</div>
<!--Modal-Detail-->
<div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="content">
            </form>
        </div>
    </div>
</div>
<!--Detail-->
<script th:src="@{/jquery-3.7.0.min.js}"></script>
<script th:inline="javascript">

    function showDetail(id) {
        $.ajax({
            contentType: "application/json",
            method: "GET",
            dataType: "json",
            url: `http://localhost:8080/api/customers/detail/` + id,
            success: function (data) {
                console.log(data)
                let content = `
 <div class="modal-header bg bg-warning">
                    <h1 class="modal-title fs-5" id="modalDetailLabel" style="color: #02060d">${data.name}</h1>
                     <button type="button" class="btn btn-warning border border-dark"data-bs-dismiss="modal">
<i class="fab fa-xbox" style="color: #121212;"></i></button>
                </div>
                <div class="modal-body">
                <input type="hidden" id="idDelete" value="${data.id}">
                <input type="hidden" id="nameDelete" value="${data.name}">
                   <div>
                   <h5>Ngày sinh: </h5>
                    <span>${data.dob}</span>
</div>
                    <div>
                      <h5>Email: </h5>
                      <span>${data.email}</span>
</div>
                  <div>
                  <h5>Địa chỉ: </h5>
                    <span>${data.address}</span>
</div>
                    <div>
                     <h5>Điện thoại: </h5>
                    <span>${data.phone_number}</span>
</div>
                   <div>
                   <h5>Loại khách hàng: </h5>
                    <span>${data.customerType.name}</span>
</div>
<div>
            <h5>Tài khoản: </h5>
            <span>${data.account.email} </span>
</div>
                </div>
                <div class="modal-footer">
                     <button
                      onclick="showInfoDelete()"
                                    type="button"
                                    class="btn btn-light border border-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                <i class="fas fa-trash-alt " style="color: #02060d;"></i>

                            </button>
                </div>`;

                $(`#content`).html(content);
            }
        })
    }

    function showInfoDelete() {
        let id=document.getElementById("idDelete").value;
        let name=document.getElementById("nameDelete").value;
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
    function showDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
// ---Footer----

</script>
</body>
</html>